* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1 fr;
}

.logo img {
    width: 60px;
    height: 60px;
    padding: 5px 5px;
    margin: 10px 20px;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 20px 20px;
}

nav ul li a{
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    letter-spacing: 2px;
    font-weight: 1000;
    text-transform: uppercase;
}

li a.active, li a:hover {
    color: rgb(110, 110, 110);
}

.titulo {
    display: grid;
    margin: 80px 0 0 70px;
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 70px;
    justify-items: center;
    align-items: center;
    margin: 80px 0px;
}

.proyectos img {
    width: 500px;
    height: 500px;
}

.footer{
    background-color: rgb(110, 110, 110);
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer ul li {
    margin: 0px 30px;
}

.footer ul li {
    font-size: 12px;
    color: black;
    letter-spacing: 2px;
    padding: 3px 20px;
}