* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1 fr;
}

.logo img {
    width: 60px;
    height: 60px;
    padding: 5px 5px;
    margin: 10px 20px;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 20px 20px;
}

nav ul li a{
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    letter-spacing: 2px;
    font-weight: 1000;
    text-transform: uppercase;
}

li a.active, li a:hover {
    color: rgb(110, 110, 110);
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 30px;
}

.titulo1 { 
    grid-area: 1 / 1 / 2 / 2;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 80px 0px 0px 190px;
    margin-left: 40px;
    box-shadow: 0px 3px 0px 0px rgb(110, 110, 110);
}

.titulo2 { 
    grid-area: 1 / 2 / 2 / 3;
    font-size: 20px;
    letter-spacing: 2px;
    margin-right: 40px;
    padding: 170px 0px 0px 50px;
    box-shadow: 0px 3px 0px 0px rgb(110, 110, 110);
}

.titulo3 { 
    grid-area: 2 / 1 / 3 / 2;
    padding: 20px 30px 0px 150px;
}

.titulo3 h1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-decoration: underline solid black;
}

.titulo3 h2 {
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.titulo3 h3 {
    font-size: 15px;
    letter-spacing: 2px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: rgb(110, 110, 110);
}

.titulo4 { 
    grid-area: 3 / 1 / 6 / 2;
    padding: 20px 30px 0px 150px;
}

.titulo4 h1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-decoration: underline solid black;
}

.titulo4 h2 {
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.titulo4 h3 {
    font-size: 15px;
    letter-spacing: 2px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: rgb(110, 110, 110);
}

.titulo5 { 
    grid-area: 2 / 2 / 6 / 3; 
    padding: 20px 50px 0px 50px;
}

.titulo5 h1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-decoration: underline solid black;
}

.titulo5 h2 {
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.titulo5 h3 {
    font-size: 15px;
    letter-spacing: 2px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: rgb(110, 110, 110);
}

.titulo5 h4 {
    font-size: 15px;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

.footer{
    background-color: rgb(110, 110, 110);
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer ul li {
    margin: 0px 30px;
}

.footer ul li {
    font-size: 12px;
    color: black;
    letter-spacing: 2px;
    padding: 3px 20px;
}