* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1 fr;
}

.logo img {
    width: 60px;
    height: 60px;
    padding: 5px 5px;
    margin: 10px 20px;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 20px 20px;
}

nav ul li a{
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    letter-spacing: 2px;
    font-weight: 1000;
    text-transform: uppercase;
}

li a.active, li a:hover {
    color: rgb(110, 110, 110);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 680px;
}

.titulo {
    align-self: center;
    margin-left: 80px;
}

.titulo h1 {
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 20px 0px 20px 20px;
}

.titulo h2 {
    color: rgb(110, 110, 110);
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 1000;
    padding-left: 20px 0px 20px 0px;
}

.titulo h3 {
    color: rgb(110, 110, 110);
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: 1000;
    text-transform: uppercase;
    padding-left: 20px 0px 20px 0px;
}

.titulo ul li {
    display: inline-block;
    line-height: 70px;
}

.titulo ul li a{
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 0px 20px;
}

.titulo ul li a:hover {
    color: rgb(110, 110, 110)
}

.imagen {
    justify-self: start;
    align-self: center;
    margin-left: 80px;
}

.footer{
    background-color: rgb(110, 110, 110);
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer ul li {
    margin: 0px 30px;
}

.footer ul li{
    font-size: 12px;
    color: black;
    letter-spacing: 2px;
    padding: 3px 20px;
}

@media (max-width: 768px) {
    nav {
        display: grid;
        grid-template-columns: 100px 1000px; 
        grid-template-rows: 1 fr;
        margin-top: 30px;
    }
    
    section {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 680px;
        margin-top: 50px ;
    }

    .footer{
        width: 1200px;
        height: 200px;
    }
    
    .footer ul li {
        margin: 0px 30px;
        font-size: 18px;
    }    
}

@media (max-width: 480px) {
    nav {
        display: grid;
        grid-template-columns: 200px 1000px; 
        grid-template-rows: 1 fr;
        margin-top: 50px;
    }
    
    nav ul {
        justify-self: center;
        align-self: center;
    }

    nav ul li a{
        font-size: 25px;
    }

    .logo img {
        width: 100px;
        height: 100px;
        margin-left: 40px;
    }
    
    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 1200px;
        margin-top: 300px;
    }

    .titulo h1 {
        font-size: 120px;
        margin-top: 40px;
    }
    
    .titulo h2 {
        color: rgb(110, 110, 110);
        font-size: 60px;
        margin-top: 40px;
        margin-right: 50px;
    }
    
    .titulo h3 {
        font-size: 30px;
        margin-top: 100px;
    }

    .titulo ul {
        text-align: center;
        margin-top: 70px;
        margin-right: 70px;
    }

    .imagen {
        margin-right: 70px;
    }
    
    .titulo ul li a{
        font-size: 40px;
    }

    .footer{
        height: 350px;
        margin-top: 300px;
    }

    .footer ul li {
        font-size: 30px;
    }
}